h1 {
    color: rgb(188, 188, 13);
    text-align: center;
    width: 100%;
}
#bananadiv{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
table {
    width: 100%;
    text-align: center;
}
td {
    width: 33%;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
#bananaimg {
    width: 50%;
}